.input {
  border-radius: 50px;
  line-height: 2.5em;
  min-width: 300px;
  max-width: 60%;
  border: none;
  background-color: lightgray;
  padding-left: 2.5em;
  padding-right: 0.5em;
  font-weight: 700;
  margin: 1em;

  &::placeholder {
    color: gray;
  }
}

.input-container {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;

  & .icon-input {
    position: absolute;
    top: 38%;
    left: 7%;
  }
}

.hide {
  display: none;
}
