$greenish: rgb(61, 214, 186);

body {
  font-family: "Rubik", sans-serif;
}

.App {
  text-align: center;
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  .left {
    width: 50%;
  }
  .right {
    width: 50%;
  }

  .bg-wrapper-left {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -5em;
    transform: translateX(0%);
    transition: all 1.5s;
    min-height: 100vh;
    .bg-text {
      max-width: 30ch;
      font-weight: 500;
      margin-bottom: 1em;
    }
  }

  .bg-wrapper-rigth {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: -5em;
    transform: translateX(0%);
    transition: all 1.5s;
    min-height: 100vh;

    .bg-text {
      max-width: 30ch;
      font-weight: 500;
      margin-bottom: 1em;
    }
  }
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vw;
  border-radius: 110%;
  background-color: $greenish;
  transform: translate(-60%, -30%);
  transition: all 2s;
}

.move-bg {
  transform: translate(60%, -30%);
}

.hide {
  display: none !important;
}

.hide-left {
  transform: translateX(-100%) !important;
}

.hide-right {
  transform: translateX(100%) !important;
}

#leftpad {
  position: absolute;
  z-index: -5;

  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rightpad {
  position: absolute;
  z-index: -5 !important;

  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
