.mapped-icons-container {
  display: flex;
  justify-content: space-around;
}

.icons-mapped {
  border-radius: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: solid 2px black;
}
